.coque-d{
  position: absolute;
  background-color: #000000;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 100px;
  top: 100px;
  z-index: 1;
}

.coque-d::before{
  position: absolute;
  content: '';
  background: red;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  left: 102px;
  top: 62px;
  z-index: 2;
}

.coque-e{
  position: absolute;
  background-color: #000000;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 541px;
  top: 102px;
  z-index: 1;
}

.coque-e::before{
  position: absolute;
  content: '';
  background: red;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  right: 102px;
  top: 62px;
  z-index: 2;
}

.cabelo{
  position: absolute;
  background-color: #000000;
  width: 400px;
  height: 320px;
  border-radius: 50%;
  left: 200px;
  top: 100px;
  z-index: 3;
}

.cabeca{
  position: absolute;
  background-color: rgb(244, 217, 194);
  width: 325px;
  height: 263px;
  border-radius: 50%;
  left: 239px;
  top: 146px;
  z-index: 4;
}

.sobrancelha-d{
  position: absolute;
  border-top: solid 11px #000000;
  border-left: solid 5px #00000000;
  border-right: solid 5px #00000000;
  width: 143px;
  height: 137px;
  border-radius: 50%;
  left: -13px;
  top: 29px;
  z-index: 5;
  transform: rotate(-30deg);
}

.sobrancelha-d::after{
  position: absolute;
  content: '';
  background: #000000;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  left: 128px;
  top: 20px;
  z-index: 5;
}

.sobrancelha-e{
  position: absolute;
  border-top: solid 11px #000000;
  border-left: solid 5px #00000000;
  border-right: solid 5px #00000000;
  width: 143px;
  height: 137px;
  border-radius: 50%;
  right: -13px;
  top: 29px;
  z-index: 5;
  transform: rotate(30deg);
}

.sobrancelha-e::after{
  position: absolute;
  content: '';
  background: #000000;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  right: 128px;
  top: 20px;
  z-index: 5;
}

.olho-d{
  position: absolute;
  background: #000000;
  width: 90px;
  height: 10px;
  left: 25px;
  top: 126px;
  z-index: 5;
  transform: rotate(13deg);
  border-radius: 5px;
}

.olho-e{
  position: absolute;
  background: #000000;
  width: 90px;
  height: 10px;
  right: 25px;
  top: 126px;
  z-index: 5;
  transform: rotate(-13deg);
  border-radius: 5px;
}

.boca{
  position: absolute;
  width: 25px;
  height: 16px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 10px solid #000000;
  border-top: 0;
  z-index: 5;
  right: 138px;
  top: 186px;
}

.boca::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
  z-index: 5;
  right: 25px;
  top: -4px;
}

.boca::after{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
  z-index: 5;
  left: 25px;
  top: -4px;
}

.bochechas{
  position: absolute;
  background: #f3b3ba;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 5;
  left: 50px;
  top: 175px;
  box-shadow: 0px 1px 10px 4px #f3b3ba;
}

.bochechas::after{
  position: absolute;
  content: '';
  background: #f3b3ba;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 5;
  left: 188px;
  top: 2px;
  box-shadow: 0px 1px 10px 4px #f3b3ba;
}

.corpo{
  position: absolute;
  width: 150px;
  height: 0px;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 140px solid red;
  top: 407px;
  left: 300px;
  z-index: 2;
}

.corpo::after{
  position: absolute;
  content: '';
  background: #000000;
  width: 159px;
  height: 10px;
  right: -87px;
  top: 62px;
  z-index: 3;
  transform: rotate(80deg);
}

.corpo::before{
  position: absolute;
  content: '';
  background: #000000;
  width: 159px;
  height: 10px;
  left: -87px;
  top: 63px;
  z-index: 3;
  transform: rotate(-80deg);
}

.vestido{
  position: absolute;
  background: red;
  width: 182px;
  height: 30px;
  border-radius: 50%;
  top: 534px;
  left: 309px;
  z-index: 3;
}

.vestido::after{
  position: absolute;
  content: '';
  width: 198px;
  height: 43px;
  border-bottom: solid 10px #000000;
  border-left: solid 10px #00000000;
  border-right: solid 10px #00000000;
  border-radius: 50%;
  z-index: 4;
  left: -18px;
  top: -20px;
}

.braco-d{
  position: absolute;
  z-index: 1;
  background-color: rgb(244, 217, 194);
  border: solid 10px #000000;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  top: 479px;
  left: 235px;
}

.braco-d::before{
  position: absolute;
  content: '';
  background-color: red;
  border: solid 10px #000000;
  width: 65px;
  height: 120px;
  transform: rotate(45deg);
  border-radius: 5px;
  top: -92px;
  left: 31px;
}

.braco-e{
  position: absolute;
  z-index: 1;
  background-color: rgb(244, 217, 194);
  border: solid 10px #000000;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  top: 479px;
  left: 493px;
}

.braco-e::before{
  position: absolute;
  content: '';
  background-color: red;
  border: solid 10px #000000;
  width: 65px;
  height: 120px;
  transform: rotate(-45deg);
  border-radius: 5px;
  top: -92px;
  right: 31px;
}

.perna-d{
  position: absolute;
  background: #000000;
  width: 70px;
  height: 90px;
  top: 550px;
  left: 328px;
  z-index: 1;
}

.perna-d::after{
  position: absolute;
  content: '';
  background: #000000;
  border-radius: 50%;
  width: 70px;
  height: 60px;
  top: 57px;
}

.perna-e{
  position: absolute;
  background: #000000;
  width: 70px;
  height: 90px;
  top: 550px;
  left: 409px;
  z-index: 1;
}

.perna-e::after{
  position: absolute;
  content: '';
  background: #000000;
  border-radius: 50%;
  width: 70px;
  height: 60px;
  top: 57px;
}

.sombra{
  position: absolute;
  background: lightgray;
  width: 230px;
  height: 46px;
  border-radius: 50%;
  top: 637px;
  left: 287px;
}
